.login-container {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.step-container {
  padding: 20px;
}

.step-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #00a7ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #90bfe8;
  cursor: not-allowed;
}

/* Apply the same styles to OTP container */
.otp-container {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.otp-container.show {
  display: block;
}

.step-header{
  padding: 20px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
}

.otp-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}
